* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
    color: orangered;
    font-size: 60px;
}

#hang-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#guess {
    letter-spacing: 17px;
    font-size: 32px;
    text-align: center;

}

#letters {
  text-align: center;
  margin: 10px;
}

#wrong {
    font-size: 24px;
    text-align: center;

}

#message {
 font-size: 24px;
 text-align: center;
}

#reset {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
